<h3>Siema</h3>
<h5>nie działa</h5>
<hr />
<h3>Details:</h3>
<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>
<div class="alert alert-danger">
    <h5>Exception Stack trace</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>