
@{ 
    ViewBag.Title = "Aukcje i ogłoszenia";
    
}


<div >
    <h3 class="text-danger">Aukcje i ogłoszenia</h3>
</div>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Tytuł</h4>
    </div>
    <div class="card-img">
        <img src="~/images/noimage.png" class="imageThumbnail" />    
    </div>
    <div class="card-body">
        <h5 class="card-text">siema tutaj jest losowy tekst</h5>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary" style="width:auto">Szczegóły</a>
    </div>
</div>

