#navuser{
    background-color:grey;
}
.nav-link{
    color:white;
}
.nav-link .active{
    color:black;
}
/*a :hover{
    color:white;
}
a .active :hover{
    color:black;
}*/
.product-item {
    position: relative;
}

    .product-item .caption h5 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        border-top: 2px solid #333;
        margin-top: 10px;
        padding-top: 10px;
    }

    .product-item .caption .product-item-price {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }


    .product-item .product-item-badge {
        position: absolute;
        top: 4px;
        left: 4px;
        padding: 5px 12px 6px;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        background: #333;
        -webkit-border-radius: 4px 0 4px 0;
        -moz-border-radius: 4px 0 4px 0;
        border-radius: 4px 0 4px 0;
    }

#active {
    width: calc(50% - 3px);
    margin: 0 auto;
    display: inline-block;
    font-size: 2.5vh;
    padding: 15px 15px;
}

#deactivated {
    width: calc(50% - 3px);
    margin: 0 auto;
    display: inline-block;
    font-size: 2.5vh;
    padding: 15px 15px;
}

#switchBtnDiv {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2%;
}

.imgThumb {
    height: 200px;
    width: auto;
}

:root {
    --clr-neutral-900: hsl(207,19%,9%);
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-accent-400: hsl(142,90%,61%)
}

body {
    background: var(--clr-neutral-900);
}

.card {
    color: var(--clr-neutral-100);
    height:400px;
    width:450px;
    background-position:center;
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 40.5ch;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 30px 30px 0 0;
}



.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient( hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.3)10%, hsl(0 0% 0% / 1) );
    transform: translateY(30%);
    transition: transform 500ms ease;
    padding-bottom:90px;
    margin-bottom:0px;
}

.card:hover,
.card:focus-within{
    transform:scaleX(1);
}

    .card-content > *:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

.card:hover .card-content,
.card:focus-within .card-content{
    transform: translateY(0);
}

    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title) {
        opacity: 1;
    }

.card-title {
    position: relative;
    padding: 7.5px;
    font-size: 25px;
    
}

    .card-title::after {
        content: "";
        position: absolute;
        height: 4px;
        bottom: -2px;
        left: calc(var(--padding)* -1);
        width: calc(100% + var(--padding));
        background: var(--clr-accent-400);
    }

.button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}

    .button:hover,
    .button:focus {
        background-color: var(--clr-neutral-100);
    }
