@model Advertisement.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Advertise.css" rel="stylesheet" />



<div class="content">
    <div class="search">
        <form asp-controller="Home" asp-action="Index">  
                <input class="search__input" type="text" name="SearchText" placeholder="Search Key" aria-label="search" >
                <button class="search__submit" aria-label="submit search"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>




<partial name="PartialAdvertiseList" model="@Model.AdvertiseList" />

